In [15]:
# Import Dependencies
import pandas as pd
import numpy as np
import os
import datetime as dt

In [6]:
# Set Paths
csv_path1 = os.path.join("..","..","..","UNCCHAR201802DATA2-Class-Repository-DATA","Homework","Week-03-Python","Instructions","PyBank","raw_data","budget_data_1.csv")
csv_path2 = os.path.join("..","..","..","UNCCHAR201802DATA2-Class-Repository-DATA","Homework","Week-03-Python","Instructions","PyBank","raw_data","budget_data_2.csv")

In [7]:
# Load DataFrames
budget_df1 = pd.read_csv(csv_path1)
budget_df2 = pd.read_csv(csv_path2)
budget_df1.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [ ]:
# Format Dates
fixed_date1 = budget_df1["Date"].dt.strptime()

In [14]:
# Join DataFrames
revenue_df = budget_df1.append(budget_df2)
revenue_df.describe

<bound method NDFrame.describe of         Date  Revenue
0     Oct-12  1154293
1     Nov-12   885773
2     Dec-12  -448704
3     Jan-13   563679
4     Feb-13   555394
5     Mar-13   631974
6     Apr-13   957395
7     May-13  1104047
8     Jun-13   693464
9     Jul-13   454932
10    Aug-13   727272
11    Sep-13   125016
12    Oct-13   339251
13    Nov-13    78523
14    Dec-13   977084
15    Jan-14  1158718
16    Feb-14   332681
17    Mar-14  -341227
18    Apr-14   173826
19    May-14   742611
20    Jun-14  1189806
21    Jul-14   607363
22    Aug-14 -1172384
23    Sep-14   587993
24    Oct-14   295198
25    Nov-14  -300390
26    Dec-14   468995
27    Jan-15   698452
28    Feb-15   967828
29    Mar-15  -454873
..       ...      ...
56  Sep-2013   339680
57  Oct-2013   809253
58  Nov-2013   924494
59  Dec-2013   998347
60  Jan-2014  -524902
61  Feb-2014   747765
62  Mar-2014   197783
63  Apr-2014   131625
64  May-2014  1016992
65  Jun-2014  -930753
66  Jul-2014   714387
67  Aug-2014   201005
68  Sep-2014   655535
69  Oct-2014   845108
70  Nov-2014   101736
71  Dec-2014   -93063
72  Jan-2015   984921
73  Feb-2015  -362343
74  Mar-2015   940457
75  Apr-2015   216399
76  May-2015   363036
77  Jun-2015   672160
78  Jul-2015   783533
79  Aug-2015  1079882
80  Sep-2015   288933
81  Oct-2015   894500
82  Nov-2015   411593
83  Dec-2015   789575
84  Jan-2016   355838
85  Feb-2016   437489

[127 rows x 2 columns]>

In [11]:
# Count months1
#len(budget_df1["Date"].value_counts())
budget_df1["Date"].value_counts().sum()

41

In [12]:
# Count months2
#len(budget_df2["Date"].value_counts())
#MonthsTotal = budget_df1.count() budget_df2
budget_df2["Date"].value_counts().sum()

86

In [13]:
budget_df1["Date"].unique()

array(['Oct-12', 'Nov-12', 'Dec-12', 'Jan-13', 'Feb-13', 'Mar-13',
       'Apr-13', 'May-13', 'Jun-13', 'Jul-13', 'Aug-13', 'Sep-13',
       'Oct-13', 'Nov-13', 'Dec-13', 'Jan-14', 'Feb-14', 'Mar-14',
       'Apr-14', 'May-14', 'Jun-14', 'Jul-14', 'Aug-14', 'Sep-14',
       'Oct-14', 'Nov-14', 'Dec-14', 'Jan-15', 'Feb-15', 'Mar-15',
       'Apr-15', 'May-15', 'Jun-15', 'Jul-15', 'Aug-15', 'Sep-15',
       'Oct-15', 'Nov-15', 'Dec-15', 'Jan-16', 'Feb-16'], dtype=object)

In [14]:
len(budget_df1["Date"].unique())

41

In [15]:
len(budget_df2["Date"].unique())

86

In [16]:
min(budget_df1["Date"].unique())

'Apr-13'

In [17]:
max(budget_df1["Date"].unique())

'Sep-15'

In [18]:
min(budget_df2["Date"].unique())

'Apr-2009'

In [19]:
max(budget_df2["Date"].unique())

'Sep-2015'

In [20]:
Months_Total1=len(budget_df1["Date"].unique())
Months_Total2=len(budget_df2["Date"].unique())
print(Months_Total1,Months_Total2)

41 86

In [23]:
Sum_Revenue1=budget_df1["Revenue"].sum()
print(Sum_Revenue1)

18971412